.product-slider {
    display: flex;
    overflow: auto;
}
.product-item {
    flex: 0 0 auto;
    margin-right: 10px;
    text-align: center;
}
.product-item img {
    max-width: 100%;
    height: auto;
}
